.button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 8px 12px;
  border-radius: 10px;
  border: none;

  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;

  &:focus {
    outline: none;
    box-shadow: 0 0 2px 2px #add8e6;
  }
}
